[submodule "vendor/zig-buddy2"]
	path = vendor/zig-buddy2
	url = https://github.com/TheDrawingCoder-Gamer/zig-buddy2.git
[submodule "vendor/s2s"]
	path = vendor/s2s
	url = https://github.com/ziglibs/s2s.git
